//ROOT
#root{
  height: 100%;
  width: 100%;
}

//CONTAINER
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  --desktop-width: calc(100% - 12rem);
  --mobile-width: calc(100% - 2rem);
  width: clamp(
    var(--mobile-width),
    6rem3vw,
    var(--desktop-width)
  ); //clamp(min, val, max);

  --desktop-padding-left-right: calc((100% - var(--desktop-width)) / 2);
  --mobile-padding-left-right: calc((100% - var(--mobile-width)) / 2);
  padding: 1.8rem
    clamp(
      var(--mobile-padding-left-right),
      5vw,
      var(--desktop-padding-left-right)
    );
  height: auto;

    &__center{//page-not-found
      align-items: center;
      justify-content: center;
      min-height: calc(100% - 3.6rem);
      // background-color: orange;
    }

}

section{
  width: 100%;
  margin-bottom: 4.8rem;
}