//GRID
//minmum 500px and maximum 1fr
.grid__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
//   justify-content: center;
  gap: 5rem;
}

.grid__colors {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 2rem;
}
