@import '../../styles/main.scss';

#hide{
	display: none;
}
#visible{
	display: block;
}
.button {
    text-align: center;
    padding: 14px 20px;
    border-radius: $border-radius;
    filter: drop-shadow(0px 5px 10px  rgba(0, 0, 0, 0.08));
    transition: all 0.3s ease-in-out;
    cursor:pointer;
    background-color: $color-grey-dark-1;
    color: $color-white;
     position: relative;
     border: unset;
}

.button--fill{
    width: 100%;
}

.button:hover{
    filter: drop-shadow(0px 2.5px 10px rgba(0, 0, 0, 0.18));
    transition: all 0.3s ease-in-out;
    transform: scale(0.99);
}

.button:active{
    filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.28));
}

.button--primary {
	background-color: $color-primary;
	color: $color-black;
}

.button--warning {
	background-color: $color-error;
	color: $color-white;
}

.button--loading,
.button--disabled {
	pointer-events: none;
	background-size: 10px 10px;
	border: 1px solid $color-grey-dark-2;
	// background-image: $background-image-disabled;
}

.button--warning.button--loading,
.button--warning.button--disabled {
	opacity: 0.8;
	// background-image: $background-image-disabled-warning;
	border-color: $color-error;
}

.button--loading {
	animation: $loading_animation;
}

.button--loading-spinner {
	color: transparent;
	animation: unset;
	// background-image: $background-image-disabled-0;
}

.button--primary.border-loader-mode {
	background-color: unset !important;
	// background-image: $background-image-disabled-primary-0;
}

.button--warning.border-loader-mode {
	background-color: unset !important;
	// background-image: $background-image-disabled-warning-0;
}

.button__loader-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.button--medium {
	padding: 12px 14px;
	font-size: $font-size-2;
}

.button--small {
	padding: 10px 12px;
	font-size: $font-size-1;
}

.button--outline {
	padding: unset;
	line-height: 1.5;
	background-color: transparent;
	color: $color-tertiary;
}

.button--outline:hover,
.button--outline:active {
	filter: unset;
	transform: unset;
}

//Download
.button--download{
	background-image: var(--download-img);
	background-size: 16px;
	background-position: right center;
	padding: 0px 0px 4px 22px;
	background-repeat: no-repeat;
}