@import '../../styles/main.scss';

.social-icons {
    display: flex;
    gap: 2rem;
    padding: 1rem 0;
    & a {
      height: 2.5rem;
      width: 2.5rem;
      background-size: contain;
      .visually-hidden {
        display: none;
      }
    }
  }