@import "../../styles/main.scss";

.topbar__wrap {
  backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(107, 124, 147, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  height: 6.3rem;
  width: 100%;
  z-index: 1;
  &-dark {
    background-color: hsla(0, 0%, 10.2%, 0.82);
  }
  &-light {
    background-color: hsla(0, 0%, 97%, 0.82);
  }
}

.topbar__left {
  font-size: $font-size-6;
  font-weight: $font-weight-bold;
  cursor: pointer;
}

.topbar__right {
  display: flex;
  align-items: center;
  gap: 2rem;

  &--open {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    gap: 4px;
    top: 6.3rem;
    right: 0;
  
    height: 100vh;
    width: 100%;
    padding: 2rem 1rem;

    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    animation: MoveLeft 0.4s ease-in-out;

    &-dark {
      background-color: $color-black;
    }
    &-light {
      background-color: $color-white;
    }

    .topbar__nav {
      padding: 1rem;
      border: 1px solid rgba(107, 124, 147, 0.2);
      border-radius: 10px;
      text-align: center;
      // border-bottom: 1px solid rgba(107, 124, 147, 0.2);
      width: 100%;

      &:hover {
        background-color: antiquewhite;
      }
    }
  }
}

.topbar__nav {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.topbar__nav--disabled {
  color: $color-grey-dark-2;
  pointer-events: none;
}

.topbar__nav--active {
  color: $color-secondary;
}

// HAMBURGER
.topbar__hamburger {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 24px;
  height: 24px;
  cursor: pointer;
  gap: 6px;

  &--line {
    height: 2px;
    width: 24px;
    border-radius: 2px;
    transform-origin: 0% 0%;
    transition: all 0.3s ease;
  }

  &--open &--line {
    &:nth-child(1) {
      transform: rotate(45deg) translate(4px, -2px);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      transform: rotate(-45deg) translate(3px, 1px);
    }
  }
}

@media only screen and (max-width: 970px) {
  .topbar__right {
    display: none;
  }
  .topbar__hamburger {
    display: flex;
  }
  .topbar__right--open {
    display: flex;
  }
}
