@import "../../styles/main.scss";

.topbar__wrap {
  background-color: hsla(0, 0%, 97%, 0.82);
  backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(107, 124, 147, 0.2);
  position: sticky;
  top: 0;
  left: 0;
  height: 6.3rem;
}
.container.topbar__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
  height: 100%;
}
.topbar__left {
  font-size: $font-size-6;
  font-weight: $font-weight-bold;
}
.topbar__right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.topbar__nav {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.topbar__nav--disabled {
  color: $color-grey-dark-2;
  pointer-events: none;
}

.topbar__nav--active {
  color: $color-secondary;
}
