//COLORS
$default-color: #212529;

$color-primary: #ffc107;
$color-primary-light: #ffe207;
$color-primary-dark: #ffa007;

$color-secondary: #ff6f61;
$color-secondary-light: #ff9b94;
$color-secondary-dark: #cc564f;

$color-tertiary: #17a2b8;
$color-tertiary-light: #4ed4e5;
$color-tertiary-dark: #117a8b;

$color-base-1: #ffffff;
$color-base-2: #eee;

$color-grey-dark-1: #999;
$color-grey-dark-2: #333;

$color-white: #fff;
$color-black: #000;

$color-error: #ff4232;
$color-link: #1592e6;

$border-color: rgba(37, 39, 52, 0.1);

//DESIGN SYSTEM
.shadow-text {
  text-shadow: 7px 4px 0px $color-primary-light;
}

.typography__heading {
  border-bottom: 2px solid $color-black;
  margin-bottom: 3rem;
}
