//COLORS
$default-color: #777;

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary: #ff5900;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary: #1900ff;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;


$color-grey-dark-1: #999;
$color-grey-dark-2: #333;

$color-white: #fff;
$color-black: #000;

$color-error: #FF4232;
$color-link:#1592e6;

//DESIGN SYSTEM
.shadow-text{
    text-shadow: 7px 4px 0px #ffd93d;
}

.typography__heading{
    border-bottom:2px solid $color-black;
    margin-bottom: 3rem;
}