body{
    --elephant-img: url(../../asssets/elephant.svg);
    --man-img: url(../../asssets/man.svg);

    --light-theme-avatar-img: url(../../asssets/light-theme-avatar.gif);
    --dark-theme-avatar-img: url(../../asssets/dark-theme-avatar.gif);
    --frontend-developer-icons-img: url(../../asssets/frontend-developer-icons.json);
    --day-mode-developer-img: url(../../asssets/day-mode-developer.json);
    --night-mode-developer-img: url(../../asssets/night-mode-developer.json);
    --night-mode-developer-v1-img: url(../../asssets/night-mode-developer-v1.json);

    --gmail-img: url(../../asssets/gmail.svg);
    --instagram-img: url(../../asssets/instagram.svg);
    --linkedin-img: url(../../asssets/linkedin.svg);
    --github-img: url(../../asssets/github.svg);
    --download-img: url(../../asssets/download.svg);
}