body{
    --elephant-img: url(../../asssets/elephant.svg);
    --man-img: url(../../asssets/man.svg);

    --light-theme-avatar-img: url(../../asssets/light-theme-avatar.gif);
    --dark-theme-avatar-img: url(../../asssets/dark-theme-avatar.gif);

    --gmail-img: url(../../asssets/gmail.svg);
    --instagram-img: url(../../asssets/instagram.svg);
    --linkedin-img: url(../../asssets/linkedin.svg);
    --github-img: url(../../asssets/github.svg);
}