// FONT
$default-font-family: "Eczar", sans-serif; //primary
$font-family-secondary: "Rubik", sans-serif;

//FONT-SIZE
$default-font-size: 1.6rem; //regular font-size
$font-size-1: 1rem;
$font-size-2: 1.2rem;
$font-size-3: 1.4rem; //h6
$font-size-4: 2rem; //h5
$font-size-5: 2.4rem; //h4
$font-size-6: 3.2rem; //h3
$font-size-7: 4rem; //h2
$font-size-8: 4.8rem; //h1

//FONT-WEIGHT
$default-font-weight: 400; //regular font-weight
$font-weight-medium: 500;
$font-weight-bold: 600;

//LINE HEIGHT
$default-line-height: 1.2;
$line-height-heading: 1.75;
$line-height-paragraph: 1.25;
$line-heigth-big: 1.28571;

//BOLD-H//primary font-family
:is(h1, h2, h3, h4, h5, h6) {
  font-weight: $font-weight-bold;
  line-height: $line-height-heading;
  text-transform: capitalize;
}
h1 {
  font-size: $font-size-8;
}
h2 {
  font-size: $font-size-7;
}
h3 {
  font-size: $font-size-6;
}
h4 {
  font-size: $font-size-5;
}
h5 {
  font-size: $font-size-4;
}
h6 {
  font-size: $font-size-3;
}

//TEXT
:is(p, big, small, a) {
  font-family: $font-family-secondary;
  line-height: $line-heigth-big;
}
p {
  //default font size - no need to mention
  line-height: $line-height-paragraph;
}
big {
  font-size: $font-size-3;
}
small {
  font-size: $font-size-2;
}
a {
  font-size: $font-size-1;
  line-height: $default-line-height;
}

//BUTTON
button {
  font-family: $font-family-secondary;
  font-weight: $font-weight-medium;
  text-transform: capitalize;
}
