@import "../../styles/main.scss";

.hero__section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  align-items: center;
  gap: 4rem;
  height: 100%;

  &--content {
    max-height: 50rem;
    padding: 1rem;
    margin: 0 auto;
  }
  &--social-icons {
    display: flex;
    gap: 2rem;
    padding: 1rem 0;
    &  a {
      height: 2.5rem;
      width: 2.5rem;
      background-size: contain;
    }
  }

  &--image {
    background-image: var(--light-theme-avatar-img);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    max-height: 50rem;
    aspect-ratio: 16/9;
  }
}

@media (min-width: 768px) {
  .hero__section {
    &--content {
      margin: unset;
    }
    &--social-icons {
      & > i {
        height: 3rem;
        width: 3rem;
        background-size: contain;
      }
    }
    &--image {
      width: 50%;
    }
  }
}
