@import "../../styles/main.scss";

.hero__section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  align-items: center;
  gap: 4rem;
  height: 100%;

  &--content {
    max-height: 50rem;
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    & > p{
      background-image: var(--wave-img);
      background-size: 20px 20px;
      background-repeat: no-repeat;
      padding-left: 25px;
    }
  }
  &--social-icons {
    display: flex;
    gap: 2rem;
    padding: 1rem 0;
    & a {
      height: calc(2.5rem + 5px + 5px);
      width: calc(2.5rem + 5px + 5px);
      padding: 5px;
      background-size: 2.5rem;
      background-repeat: no-repeat;
      background-position: center;
      background-color: $color-base-2;
      border-radius: 50%;
      box-shadow: 1px 2px 3px black;
      transition: all 0.2s ease;
      position: relative;
      
      &::before{
        content:attr(data-social);
        display: table;
        clear: both;
        text-transform: capitalize;
        position: absolute;
        background-color: $color-base-2;
        // box-shadow: 1px 2px 3px black;
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 8px;
        transform: translate(-10px,-35px) rotate(25deg);
        transform: translate(0px,0px) rotate(25deg);
        color: $color-black;
        opacity: 0;
        transition: all 0.5s ease;
      }
      &::after{
        content:'';
        display: table;
        clear: both;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 12px solid $color-base-2;
        transform: translate(5px,-16px) rotate(25deg);
        transform: translate(0px,-0px) rotate(25deg);
        opacity: 0;
        transition: all 0.5s ease;
      }
      &:hover {
        transform: scale(1.2);
      

        &::before{
          transform: translate(-10px,-45px) rotate(0deg);
          opacity: 1;
        }
        &::after{
          transform: translate(5px,-16px) rotate(0deg);
          opacity: 1;
        }
      }

      .visually-hidden {
        display: none;
      }
    }
  }

  &--resume {
    display: inline-block;
    padding-top: 1rem;
  }
  &--image {
    // background-image: var(--light-theme-avatar-img);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    max-height: 50rem;
    aspect-ratio: 16/9;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
  }
}

//ABOUT
.about__section {

  &--content {
    display: flex;
    flex-wrap: wrap-reverse;
  }
  &--descripation {
    padding: 3rem;
    border: 1px solid $color-grey-dark-1;
    border-radius: 16px;
    // background-color: $color-base-2;
  }
}

//EXPERIENCE
.experience__section {
  // max-width: 40rem;
  &--title {
    padding: 12px 24px 0px;
  }
}
.experience__wrap {
  padding: 12px 24px;
  border: 1px solid $color-grey-dark-1;
  border-radius: 12px;

  .experience {
    display: flex;

    &:not(:first-child) {
      // margin-top: 1rem;
      padding-top: 1.5rem;
      border-top: 1px solid #e3e3e3;
    }
    .company__logo {
      width: 4.8rem;
      height: 4.8rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 8px;
      margin-right: 1rem;

      & > .visually-hidden {
        display: none;
      }
    }
    .company__detailes {
      .company__title {
        font-weight: 500;
        padding-bottom: 8px;
      }
      .company__total--experience {
        font-size: 1.4rem;
        font-weight: 300;
        padding-bottom: 2rem;
      }
    }
    .designation {
      position: relative;
      padding-bottom: 2rem;
      &:not(:last-child)::before {
        content: "";
        display: table;
        clear: both;
        position: absolute;
        left: calc(-3.3rem);
        top: 2.2rem;
        height: calc(100% - 2.4rem);
        width: 2px;
        background-color: $color-grey-dark-1;
      }
      &__title {
        position: relative;

        &:not(:last-child)::before {
          content: "";
          display: table;
          clear: both;
          height: 0.8rem;
          width: 0.8rem;
          background-color: $color-grey-dark-1;
          position: absolute;
          top: 0.8rem;
          left: -3.6rem;
          border-radius: 50%;
        }
      }
      &__duration,
      &__location {
        font-size: 1.4rem;
        font-weight: 300;
      }
    }
  }
}

//TOOLS I USE
.skills__section {
  .skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;

    .skill__wrap {
      height: 10rem;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      box-shadow: 1px 1px 10px 0px $color-grey-dark-1;
      transition: all 0.2s ease;

      &:hover {
        transform: scale(1.15);
      }

      .skill {
        height: 5rem;
        width: 5rem;
        display: inline-block;
        background-size: 5rem;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}

@media (min-width: 768px) {
  .hero__section {
    &--content {
      margin: unset;
      align-items: start;
    }
    &--social-icons {
      & > i {
        height: 3rem;
        width: 3rem;
        background-size: contain;
      }
    }
    &--image {
      width: 50%;
    }
  }
  .about__section {
    &--content {
      display: flex;
      flex-wrap: wrap-reverse;
      justify-content: space-between;
      align-items: center;
    }
    &--image {
      width: 20rem;
    }
    &--descripation {
      width: calc(100% - 20rem - 5rem);
    }
  }
  .skills__section {
    .skills {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      gap: 2rem;

      .skill__wrap {
        height: 20rem;

        .skill {
          height: 14rem;
          width: 14rem;
          background-size: 14rem;
        }
        & > h6 {
          font-size: 2rem;
        }
      }
    }
  }
}
@media (min-width: 970px) {
  .hero__section {
    height: calc(100vh - 6.3rem - 1.8rem);
  }
  // .about__section {
  //   height: 100vh;
  // }
}
