@import '../../styles/main.scss';

.loader-container {
	position: relative;
}

.string {
	height: 65%;
	width: 65%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 2px solid #000;
	animation: rotate 1s linear infinite;
}

.loader-container .string:nth-child(1) {
	border-radius: 32% 68% 54% 46% / 38% 40% 60% 62%;
	border-color: $color-primary-light;
}

.loader-container .string:nth-child(2) {
	border-radius: 31% 69% 73% 27% / 48% 40% 60% 52%;
	border-color: $color-secondary;
}

.loader-container .string:nth-child(3) {
	border-radius: 49% 51% 51% 49% / 48% 40% 60% 52%;
	border-color: $color-secondary-light;
}

.loader-container .string:nth-child(4) {
	border-radius: 52% 48% 26% 74% / 64% 60% 40% 36%;
	border-color: $color-secondary-dark;
}

.loader-container .string:nth-child(5) {
	border-radius: 70% 30% 62% 38% / 39% 71% 29% 61%;
	border-color: $color-primary;
}

@keyframes rotate {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	75% {
		border-radius: 100%;
		transform: translate(-50%, -50%) rotate(300deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.loader-container-calm-mode .string:nth-child(1) {
	border-color: $color-grey-dark-1;
}

.loader-container-calm-mode .string:nth-child(2) {
	border-color: $color-grey-dark-2;
}

.loader-container-calm-mode .string:nth-child(3) {
	border-color: $color-grey-dark-1;
}

.loader-container-calm-mode .string:nth-child(4) {
	border-color: $color-grey-dark-2;
}

.loader-container-calm-mode .string:nth-child(5) {
	border-color: $color-tertiary-light;
}
