//BUTTON
$loading_animation: loading_animation 4s linear infinite;

@keyframes loading_animation {
	0% {
		background-position: 0% 0;
	}

	100% {
		background-position: 100% 0;
	}
}

@keyframes MoveInTop {
	0% {
		transform: translateY(200px);
		opacity: 0;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes shake {
	10%, 90% {
	  transform: translate3d(-1px, 0, 0);
	}
	
	20%, 80% {
	  transform: translate3d(2px, 0, 0);
	}
  
	30%, 50%, 70% {
	  transform: translate3d(-4px, 0, 0);
	}
  
	40%, 60% {
	  transform: translate3d(4px, 0, 0);
	}
  }